<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2009 AGETO Service GmbH and others.
    All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v1.0 which accompanies this distribution,
    and is available at http://www.eclipse.org/legal/epl-v10.html.

    Contributors:
        Gunnar Wagenknecht - initial API and implementation
 -->
<plugin>
   <extension
         point="org.eclipse.gyrex.boot.serverroles">
      <role
            id="org.eclipse.gyrex.examples.bugsearch"
            name="Eclipse Bug Search">
         <requireBundle
               symbolicName="org.eclipse.gyrex.examples.bugsearch">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.gyrex.cds.model.solr">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.gyrex.cds.service.solr">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.gyrex.persistence.solr">
         </requireBundle>
      </role>
   </extension>
   <extension
         point="org.eclipse.gyrex.admin.setupwizard">
      <step
            class="org.eclipse.gyrex.examples.bugsearch.internal.setup.BugSearchSetupStep"
            id="org.eclipse.gyrex.examples.bugsearch.setup">
      </step>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.gyrex.boot.server"
            name="Gyrex Bug Search">
      </product>
   </extension>

</plugin>
