#novaWrapper, #footer {
	width:980px;
}

#search {
	padding-top:13px;
	right:-1px;
}

#searchBox {
	padding-top:0px;
	top:0px;
	right:7px;
}

#searchButton {
	width:4em;
}	
 
#sites ul {
	padding-left:15px;
}

#leftnav li{
	padding:5px 0;
}

#leftnav li a {
	padding-left:5px;
}

.homeitem3col li, .homeitem li {
	padding:0 10px 5px 5px;
	margin-bottom:5px;
	vertical-align:bottom;
}

.homeitem3col ul, .homeitem ul {
	padding-bottom:5px;
	margin-top:10px;
}

#buttonHolder {
	margin-left:0 !important;	
}

.more {
	clear:both;	
	height:40px;
}

