
.admin-WizardPanel {
	max-height: 80%;
}
.admin-WizardPanel .popupMiddleCenter {
}
.admin-WizardPanelBackgroundLayer {
	width:100%;
	height:100%;
	background-color:#FFF;
	opacity:0.7;
	-moz-opacity:0.7;
	filter:"alpha(opacity=70)";
}

.admin-ContentHolderPanel {
	min-height: 400px;
}

